/* =========================== General =========================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
/* =========================== End Header =========================== */
header {
  background-image: url("../img/events-heavenly-header.jpg");
  width: 100%;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}
.HomeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 46, 51, 0.6);
}
#header .content {
  text-align: center;
  margin-top: 200px;
  transition: margin-left 0.5s;
}
#header .content .openNav {
  font-size: 30px;
  text-align: left;
  cursor: pointer;
}
#header h1 {
  font-size: 60px;
}
#leftMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#leftMenu a {
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: white;
}
#leftMenu a:hover {
  color: rgba(214, 46, 51, 0.4);
}
#leftMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* =========================== End Header =========================== */
/* =========================== Start Section One =========================== */
#sliderDown {
  margin: auto;
}
#sliderDown .slider {
  cursor: pointer;
  background-color: rgba(214, 46, 51, 0.6);
}
#sliderDown .innerFirst:not(.notDisplay) {
  background-color: #ccc;
  display: none;
}
#sliderDown .notDisplay {
  background-color: #ccc;
}
/* =========================== End Section One =========================== */
/* =========================== End Section One =========================== */
#count {
  background-image: url("../img/invitation-2508607__340.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 400px;
}
#count .HomeOverlay {
  display: flex;
  align-items: center;
}
.time {
  padding: 30px 10px;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 50px;
}
/* =========================== End Section One =========================== */
/* =========================== Start Footer =========================== */

.red {
  color: #d62e33 !important;
}
.icons i {
  color: #777;
}
#contact .contactInfo .social-list i:hover {
  color: #fff;
  background-color: #d62e33;
  border: 1px solid #d62e33;
}
#contact .contactInfo .social-list i {
  margin-right: 10px;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 42px;
  color: #777;
  border-radius: 50%;
}
#chars {
  font-size: 20px;
  color: #d62e33;
}
#contact .head h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #444;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact .head p {
  color: #777;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
#contact .contactInfo p {
  font-size: 16px;
  line-height: 26px;
  color: #777;
  text-align: center;
}
#contact .contactInfo h3 {
  color: #444;
  font-size: 18px;
  font-weight: bold;
}
#contact form textarea {
  height: 200px;
  resize: vertical;
}
/* =========================== End Footer =========================== */
